.about {
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: var(--color-bg);

  &__title {
    line-height: 31px;
  }

  &__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  &__descr {
    margin: 0;
    padding-top: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--color-grey);
  }
}

.form-about {
  flex-direction: column;
  justify-content: end;
  background-image: url('../img/about.webp');
  background-repeat: no-repeat;
  background-position: 0px 2px;
  background-size: contain;

  &__title {
    margin-bottom: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  &__wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
  }

  &__label {
    flex-grow: 1;
  }

  &__input {
    background-color: var(--color-dark);

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: var(--color-grey);
    }
  }

  &__btn {
    background-color: var(--color-orange);
  }
}

@include tablet {
  .about {
    padding-bottom: 83px;

    &__descr {
      padding-right: 4px;
      padding-bottom: 5px;
    }
  }

  .form-about {
    background-image: url('../img/about-tablet.webp');

    &__wrapper {
      display: block;
    }

    &__label {
      display: block;
      max-width: 342px;
      margin-bottom: 20px;
    }
  }
}

@include small-tablet {
  .about {
    padding-bottom: 62px;

    &__descr {
      padding-bottom: 0;
    }
  }

  .form-about {
    padding-bottom: 9px;
    background-image: url('../img/about-small.webp');
  }
}

@media (max-width: 680px) {
  .about {
    padding-top: 28px;
    padding-bottom: 50px;


    &__wrapper {
    grid-template-rows: 1fr minmax(452px, auto);
    gap: 20px;
    }

    &__descr {
      grid-column: span 2;
      padding-top: 1px;
      padding-right: 0;
      font-size: 14px;
      line-height: 25px;
    }
  }

  .form-about {
    grid-column: span 2;
    background-image: url('../img/about-tel.webp');
    background-size: auto;
  }
}
