<footer class="footer">
  <div class="container footer__container grid">
    <a class="logo footer__logo">
      <img class="image footer__image" src="img/logo.svg" alt="High Pass Logo">
      Фотостудия High pass<sup class="reg">&reg;</sup> 2018&ndash;2020
    </a>
    <p class="footer__copy">Которая из&nbsp;моих фотографий самая любимая? Та, которую я&nbsp;собираюсь снять завтра.
      &copy;&nbsp;Имоджен Каннингем</p>
    <div class="footer__social">
      <p class="footer__text">Больше интересного:</p>
      <ul class="list-reset footer__list flex">
        <li class="footer__item">
          <a href="#" class="footer__link">
            <svg class="footer__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#ok"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a href="#" class="footer__link">
            <svg class="footer__svg" width="30" height="30">
              <use xlink:href="img/sprite.svg#vk"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
