<header class="header">
  <div class="container grid header__container">
    <a class="logo header__logo">
      <img class="image" src="img/logo.svg" alt="High Pass Logo">
    </a>
    <nav class="nav flex header__nav" title="Main-navigation" data-menu>
      <button class="burger btn-reset" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <svg class="burger__svg" width="20" height="18">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
      </button>
      <ul class="list-reset nav__list flex">
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>О студии</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Наши проекты</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Услуги</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Мастер-классы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-menu-item>Контакты</a>
        </li>
      </ul>
      <a href="tel:+749542423532" class="tel nav__tel" data-menu-item>
        <svg class="tel__svg" width="22" height="22">
          <use xlink:href="img/sprite.svg#tel"></use>
        </svg>
        +7 495 424-23-532
      </a>
    </nav>
    <div class="search header__search ">
      <form class="search__form js-search">
        <input class="search__input input-reset input js-search-input" type="text" placeholder="Что будем иcкать?" aria-label="Введите, что нужно найти на сайте">
        <button class="btn-reset search__btn js-search-button" type="button" aria-label="Поиск">
          <svg class="search__svg" width="25" height="25">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
        </button>
      </form>

    </div>

  </div>
</header>
