<section class="hero">
  <div class="container hero__container grid">
    <h1 class="visually-hidden">Студия High pass</h1>
    <article class="hero__article article grid">
      <div class="article__picture">
        <span class="tag article__tag">#мастеркласс</span>
        <picture>
          <source media="(max-width: 530px)" type="image/avif" srcset="img/hero-article-tel.avif">
          <source media="(max-width: 960px)" type="image/avif" srcset="img/hero-article-small.avif">
          <source media="(max-width: 1024px)" type="image/avif" srcset="img/hero-article-tablet.avif">
          <source srcset="img/hero-article.avif" type="image/avif">

          <source media="(max-width: 530px)" type="image/webp" srcset="img/hero-article-tel.webp">
          <source media="(max-width: 960px)" type="image/webp" srcset="img/hero-article-small.webp">
          <source media="(max-width: 1024px)" type="image/webp" srcset="img/hero-article-tablet.webp">
          <source srcset="img/hero-article.webp" type="image/webp">

          <source media="(max-width: 530px)" srcset="img/hero-article-tel.jpg">
          <source media="(max-width: 960px)"srcset="img/hero-article-small.jpg">
          <source media="(max-width: 1024px)" srcset="img/hero-article-tablet.jpg">
          <img src="img/hero-article.jpg" class="article__image image" width="630" height="630"  alt="Неоновый фотосет 2.0">
        </picture>
      </div>
      <div class="article__wrapper">
        <p class="article__name">Мастер-класс от&nbsp;Игоря Робова</p>
        <h2 class="article__title title">Неоновый фотосет 2.0 7&nbsp;июля 20:00</h2>
        <a href="#" class="btn article__btn">Узнать больше</a>
      </div>
    </article>
    <div class="hero__work work">
      <h2 class="work__title title">Работы участников предыдущего мастер-класса</h2>
      <ul class="list-reset work__list grid">
        <li class="work__item">
          <a href="#" class="work__link">
            <picture>
              <!-- <source media="(max-width: 530px)" type="image/avif" srcset="img/hero-1-tel.avif"> -->
              <source media="(max-width: 960px)" type="image/avif" srcset="img/hero-1-small-tablet.avif">
              <source media="(max-width: 1024px)" type="image/avif" srcset="img/hero-1-tablet.avif">
              <source srcset="img/hero-1.avif" type="image/avif">

              <!-- <source media="(max-width: 530px)" type="image/webp" srcset="img/hero/hero-1-tel.webp"> -->
              <source media="(max-width: 960px)" type="image/webp" srcset="img/hero-1-small-tablet.webp">
              <source media="(max-width: 1024px)" type="image/webp" srcset="img/hero-1-tablet.webp">
              <source srcset="img/hero-1.webp" type="image/webp">
              <img src="img/hero-1.jpg" class="work__image image" width="630" height="300"  alt="Фотография">
            </picture>
          </a>
        </li>
        <li class="work__item">
          <a href="#" class="work__link">
            <picture>
              <!-- <source media="(max-width: 530px)" type="image/avif" srcset="img/hero-2-tel.avif"> -->
              <!-- <source media="(max-width: 960px)" type="image/avif" srcset="img/hero-2-small-tablet.avif"> -->
              <source media="(max-width: 1024px)" type="image/avif" srcset="img/hero-2-tablet.avif">
              <source srcset="img/hero-2.avif" type="image/avif">

              <!-- <source media="(max-width: 530px)" type="image/webp" srcset="img/hero/hero-2-tel.webp"> -->
              <!-- <source media="(max-width: 960px)" type="image/webp" srcset="img/hero-2-small-tablet.webp"> -->
              <source media="(max-width: 1024px)" type="image/webp" srcset="img/hero-2-tablet.webp">
              <source srcset="img/hero-2.webp" type="image/webp">
              <img src="img/hero-2.jpg" class="work__image image" width="300" height="257"  alt="Фотография">
            </picture>
          </a>
        </li>
        <li class="work__item">
          <a href="#" class="work__link">
            <picture>
              <!-- <source media="(max-width: 530px)" type="image/avif" srcset="img/hero-3-tel.avif"> -->
              <!-- <source media="(max-width: 960px)" type="image/avif" srcset="img/hero-3-small-tablet.avif"> -->
              <!-- <source media="(max-width: 1024px)" type="image/avif" srcset="img/hero-3-tablet.avif"> -->
              <source srcset="img/hero-3.avif" type="image/avif">

              <!-- <source media="(max-width: 530px)" type="image/webp" srcset="img/hero/hero-3-tel.webp"> -->
              <!-- <source media="(max-width: 960px)" type="image/webp" srcset="img/hero-3-small-tablet.webp"> -->
              <!-- <source media="(max-width: 1024px)" type="image/webp" srcset="img/hero-3-tablet.webp"> -->
              <source srcset="img/hero-3.webp" type="image/webp">
              <img src="img/hero-3.jpg" class="work__image image" width="300" height="257"  alt="Фотография">
            </picture>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
