<section class="projects">
  <div class="container projects__container">
    <h2 class="title projects__title">Наши проекты</h2>
    <ul class="list-reset projects__list grid">
      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <span class="tag projects__tag">#пейзаж</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-1-tel.avif">
            <!-- <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-1-small-tablet.avif"> -->
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-1-tablet.avif">
            <source srcset="img/projects-1.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-1-tel.webp">
            <!-- <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-1-small-tablet.webp"> -->
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-1-tablet.webp">
            <source srcset="img/projects-1.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-1-tel.jpg">
            <!-- <source media="(max-width: 768px)" srcset="img/projects-1-small-tablet.jpg"> -->
            <source media="(max-width: 1024px)" srcset="img/projects-1-tablet.jpg">
            <img src="img/projects-1.jpg" class="projects__image image" width="190" height="184" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Синтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени. Cинтетически, смешаны с&nbsp;не&nbsp;уникальными данными до&nbsp;степени</a>
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <time datatime="06-16">16&nbsp;июня</time>
          </div>
        </div>
      </li>
      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <span class="tag projects__tag">#портрет</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-2-tel.avif">
            <!-- <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-2-small-tablet.avif"> -->
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-2-tablet.avif">
            <source srcset="img/projects-2.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-2-tel.webp">
            <!-- <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-2-small-tablet.webp"> -->
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-2-tablet.webp">
            <source srcset="img/projects-2.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-2-tel.jpg">
            <!-- <source media="(max-width: 768px)" srcset="img/projects-2-small-tablet.jpg"> -->
            <source media="(max-width: 1024px)" srcset="img/projects-2-tablet.jpg">
            <img src="img/projects-2.jpg" class="projects__image image" width="190" height="184" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <a href="#" class="projects__descr">В&nbsp;своём стремлении улучшить опыт мы&nbsp;упускаем, что явные</a>
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <time datatime="05-28">28&nbsp;мая</time>
          </div>
        </div>
      </li>
      <li class="projects__item projects__item--small">
        <div class="projects__picture">
          <span class="tag projects__tag">#предмет</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-3-tel.avif">
            <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-3-small-tablet.avif">
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-3-tablet.avif">
            <source srcset="img/projects-3.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-3-tel.webp">
            <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-3-small-tablet.webp">
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-3-tablet.webp">
            <source srcset="img/projects-3.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-3-tel.jpg">
            <source media="(max-width: 768px)" srcset="img/projects-3-small-tablet.jpg">
            <source media="(max-width: 1024px)" srcset="img/projects-3-tablet.jpg">
            <img src="img/projects-3.jpg" class="projects__image image" width="190" height="184" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Равным образом, высокое качество позиционных высокотехнологичная концепция общественного уклада</a>
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <time datatime="05-14">14&nbsp;мая</time>
          </div>
        </div>
      </li>
      <li class="projects__item projects__item--big grid">
        <div class="projects__picture">
          <span class="tag projects__tag">#fuji</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-4-tel.avif">
            <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-4-small-tablet.avif">
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-4-tablet.avif">
            <source srcset="img/projects-4.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-4-tel.webp">
            <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-4-small-tablet.webp">
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-4-tablet.webp">
            <source srcset="img/projects-4.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-4-tel.jpg">
            <source media="(max-width: 768px)" srcset="img/projects-4-small-tablet.jpg">
            <source media="(max-width: 1024px)" srcset="img/projects-4-tablet.jpg">
            <img src="img/projects-4.jpg" class="projects__image image" width="630" height="300" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi-calendar"></use>
            </svg>
            <time datatime="04-09">9&nbsp;апреля</time>
          </div>
          <h3 class="title projects__title-item">Cемантический разбор</h3>
          <p class="projects__descr">В&nbsp;рамках спецификации современных стандартов, интерактивные прототипы</p>
          <button class="btn-reset btn projects__btn">О&nbsp;проекте</button>
        </div>
      </li>
      <li class="projects__item projects__item--big grid">
        <div class="projects__picture">
          <span class="tag projects__tag">#проектзабвение</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-5-tel.avif">
            <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-5-small-tablet.avif">
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-5-tablet.avif">
            <source srcset="img/projects-5.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-5-tel.webp">
            <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-5-small-tablet.webp">
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-5-tablet.webp">
            <source srcset="img/projects-51.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-5-tel.jpg">
            <source media="(max-width: 768px)" srcset="img/projects-5-small-tablet.jpg">
            <source media="(max-width: 1024px)" srcset="img/projects-5-tablet.jpg">
            <img src="img/projects-5.jpg" class="projects__image image" width="630" height="300" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#mdi-calendar"></use>
            </svg>
            <time datatime="03-20">20&nbsp;марта</time>
          </div>
          <h3 class="title projects__title-item">Забвение</h3>
          <p class="projects__descr">Играет важную роль в&nbsp;формировании глубокомысленных рассуждений</p>
          <button class="btn-reset btn projects__btn">О&nbsp;проекте</button>
        </div>
      </li>
      <li class="projects__item projects__item--medium">
        <div class="projects__picture">
          <span class="tag projects__tag">#ретушь</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-6-tel.avif">
            <!-- <source media="(max-width:  768px)" type="image/avif" srcset="img/projects-6-small-tablet.avif"> -->
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-6-tablet.avif">
            <source srcset="img/projects-6.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-6-tel.webp">
            <!-- <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-6-small-tablet.webp"> -->
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-6-tablet.webp">
            <source srcset="img/projects-6.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-6-tel.jpg">
            <!-- <source media="(max-width: 768px)" srcset="img/projects-6-small-tablet.jpg"> -->
            <source media="(max-width: 1024px)" srcset="img/projects-6-tablet.jpg">
            <img src="img/projects-6.jpg" class="projects__image image" width="300" height="184" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <a href="#" class="projects__descr">Как принято считать, многие известные личности и&nbsp;по&nbsp;сей день остаются уделом либералов</a>
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <time datatime="03-09">9&nbsp;марта</time>
          </div>
        </div>
      </li>
      <li class="projects__item projects__item--medium">
        <div class="projects__picture">
          <span class="tag projects__tag">#портрет</span>
          <picture>
            <source media="(max-width: 530px)" type="image/avif" srcset="img/projects-7-tel.avif">
            <!-- <source media="(max-width: 768px)" type="image/avif" srcset="img/projects-7-small-tablet.avif"> -->
            <source media="(max-width: 1024px)" type="image/avif" srcset="img/projects-7-tablet.avif">
            <source srcset="img/projects-7.avif" type="image/avif">

            <source media="(max-width: 530px)" type="image/webp" srcset="img/projects-7-tel.webp">
            <!-- <source media="(max-width: 768px)" type="image/webp" srcset="img/projects-7-small-tablet.webp"> -->
            <source media="(max-width: 1024px)" type="image/webp"srcset="imgprojects-7-tablet.webp">
            <source srcset="img/projects-7.webp" type="image/webp">

            <source media="(max-width: 530px)" srcset="img/projects-7-tel.jpg">
            <!-- <source media="(max-width: 768px)" srcset="img/projects-7-small-tablet.jpg"> -->
            <source media="(max-width: 1024px)" srcset="img/projects-7-tablet.jpg">
            <img src="img/projects-7.jpg" class="projects__image image" width="300" height="184" alt="Фотография проекта">
          </picture>
        </div>
        <div class="projects__wrapper">
          <a href="#" class="projects__descr">С&nbsp;учётом сложившейся международной обстановки, новая модель организационной  международной обстановки, новая модель организационной</a>
          <div class="projects__time">
            <svg class="projects__svg" width="14" height="14">
              <use xlink:href="img/sprite.svg#calendar"></use>
            </svg>
            <time datatime="03-01">1&nbsp;марта</time>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
